:root {
    --color-tema: white;
    --color-primario: rgb(8, 13, 93);
    --color-secundario: ;
    --color-texto: black;
    --color-sombra: rgba(6, 6, 6, 0.418);
    --color-navegacion: rgb(71, 73, 194);
    --color-seccion1: rgb(233, 241, 247);
    --color-seccion2: rgb(224, 222, 222);
}

.exp {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.titulo-exp {
    list-style: none;
    text-align: center;
}

.experiencia-obtenida {
    list-style: none;
    text-align: center;
}

.titulo-de-experiencia {
    color: var(--color-primario);
}

.experiencia {
    margin: auto;
    padding: 15px;
    background-color: var(--color-seccion2);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--color-sombra);

}